body {
    font-family: Arial, sans-serif;
    background-color: #333;
}

#canvas-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #333, #666);
    background-size: 100% 50px;
    animation: glow 10s infinite;
}

@keyframes glow {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 100% 100%;
    }
}
